li a{
  font-weight: bold;
  size: 60px;
  text-shadow: rgb(231, 160, 179) 2px 2px 3px;
}

h1{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  text-shadow: rgb(214, 211, 22) 2px 2px 3px;
}

h1, a, .page-footer, .input-field , #search_result{
  font-family: 'Rye', cursive;
}

body{
  margin: 0;
  padding: 0;
}

#tagline {
    text-align: center;
    position: relative;
    font-weight: bold;
    font-family: 'Rye', cursive;
    text-shadow: rgb(214, 211, 22) 1px 1px 2px;
}

.section-popular {
  margin-top: 100px;
  margin-bottom: 100px;
}

#enjoy {
    color: #999999;
    padding-top: 15px;
}

.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: rgb(214, 211, 22) 1px 1px 2px;
}

/* some complimentary color options: #ffe082, #8bc34a */

/* label color */
/* .input-field label {
    color: #ffe082;
  }

  /* label focus color */
  /* .input-field input[type=text]:focus + label {
    color: #ffe082;
  }

  /* label underline focus color */
  /* input:focus {
    border-bottom: 1px solid #ffe082 !important;
    box-shadow: 0 1px 0 0 #ffe082 !important;
  }

  /* icon prefix focus color */
  /* .input-field .prefix.active {
    color: #ffe082;
  } */