body{
    margin:0;
    padding: 0;
}
h1{
   text-align: center;
   font-size: 30px;
   font-weight: bold;
   margin-top: 20px;
   text-shadow: rgb(214, 211, 22) 2px 2px 3px;
}
img{
height: 200px;
width: 100px;
}


li a{
   
    font-weight: bold;
    size: 60px;
    text-shadow: rgb(231, 160, 179) 2px 2px 3px;
   
}
h1, a, .footer-copyright, .input-field , #search_result{
    font-family: 'Rye', cursive;
}
.footer-copyright{
    text-align: center;
    font-weight: bold;
    text-shadow: rgb(214, 211, 22) 2px 2px 3px;
}

  /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000 !important;
     box-shadow: 0 1px 0 0 #000 !important;
   }
  .input-field .prefix.active {
    color: #000;
  }
  .input-field label, #search_result label {
    color: #000;
    font-weight: bold;
  }
 div .input-field{
   
      margin-left: 60px;
  }