body{
    background-image: url("../images/simbabackground.jpg");
    background-size: cover;
    
}
#tagline {
    padding-top: 40px;
    position: relative;
}

.container{
    font-family: 'Raleway', sans-serif;
    color: green;
    background-color: ivory;
    background-position: center;
    text-align: center;

}

#chefSimba{
    font-family: 'Raleway', sans-serif;
    float: left;
    width: 70%;
    padding: 0 10px;
    box-sizing: border-box;
}

.cookRecipes{
    font-family: 'Raleway', sans-serif;
    float: right;
    width: 30%;
    box-sizing: border-box;
}

#recipes{
    width: 500px;
    height: 200px;
    border: 0px; 
   
}

@media(max-width: 960px){
    #chefSimba{
        width: 100%;
        float: none;
    }

    .cookRecipes{
        width: 100%;
        float: none;
    }
}
