body{
    background-image: url("../images/undersea.jpg");
    background-size: cover;
}
#tagline {
    padding-top: 40px;
    position: relative;
}

.container{
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: aquamarine;
    background-position: center;
    text-align: center;
}

#chefUrsula{
    font-family: 'Raleway', sans-serif;
    float: left;
    width: 70%;
    padding: 0 10px;
    box-sizing: border-box;
}

.cookRecipes{
    font-family: 'Raleway', sans-serif;
    float: right;
    width: 30%;
    box-sizing: border-box;
    padding: 20px;
}

#recipes{
    width: 500px;
    height: 200px;
    border: 0px;
    padding: 10px;  
}


@media(max-width: 960px){
    #chefUrsula{
        width: 100%;
        float: none;
    }

    .cookRecipes{
        width: 100%;
        float: none;
    }
}
